@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast-theme--dark {
  background-color: #8351a8;
  color: #442342;
}

@font-face {
  font-family: "IRANSans";
  src: url("./fonts/IRANSans-Bold-web.eot");

  src: url("./fonts/IRANSans-Bold-web.eot?#iefix") format("eot"),
    /* IE6–8 */ url("./fonts/IRANSans-Bold-web.woff2") format("woff2"),
    /* Chrome36+, Opera24+*/ url("./fonts/IRANSans-Bold-web.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("./fonts/IRANSans-Bold-web.ttf")
      format("ttf");
  font-weight: bold;
}

@font-face {
  font-family: "IRANSans";
  src: url("./fonts/IRANSans-Medium-web.eot");

  src: url("./fonts/IRANSans-Medium-web.eot?#iefix") format("eot"),
    /* IE6–8 */ url("./fonts/IRANSans-Medium-web.woff2") format("woff2"),
    /* Chrome36+, Opera24+*/ url("./fonts/IRANSans-Medium-web.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("./fonts/IRANSans-Medium-web.ttf")
      format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "IRANSans";
  src: url("./fonts/IRANSans-UltraLight-web.eot");

  src: url("./fonts/IRANSans-UltraLight-web.eot?#iefix") format("eot"),
    /* IE6–8 */ url("./fonts/IRANSans-UltraLight-web.woff2") format("woff2"),
    /* Chrome36+, Opera24+*/ url("./fonts/IRANSans-UltraLight-web.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./fonts/IRANSans-UltraLight-web.ttf") format("ttf");
  font-weight: 200;
}

@font-face {
  font-family: "IRANSans";
  src: url("./fonts/IRANSans-Light-web.eot");

  src: url("./fonts/IRANSans-Light-web.eot?#iefix") format("eot"),
    /* IE6–8 */ url("./fonts/IRANSans-Light-web.woff2") format("woff2"),
    /* Chrome36+, Opera24+*/ url("./fonts/IRANSans-Light-web.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("./fonts/IRANSans-Light-web.ttf")
      format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: "IRANSans";
  src: url("./fonts/IRANSans-web.eot");

  src: url("./fonts/IRANSans-web.eot?#iefix") format("eot"),
    /* IE6–8 */ url("./fonts/IRANSans-web.woff2") format("woff2"),
    /* Chrome36+, Opera24+*/ url("./fonts/IRANSans-web.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("./fonts/IRANSans-web.ttf")
      format("ttf");
  font-weight: normal;
}
:root {
  --swiper-theme-color: #8351a8;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.swiper-wrapper {
  transition-timing-function: ease-in-out;
}
@layer utilities {
  .shadow-menu {
    box-shadow: -15px -15px 10px 10px #d0cdd7;
  }
  .shadow-dark-menu {
    box-shadow: -15px -15px 20px 10px #8351a8;
  }
  .neomofisme-shadow {
    box-shadow: 0px 0px 2px #5f5f5f, 0px 0px 0px 5px #fff, 8px 8px 15px #afaaa7,
      -8px -8px 15px #fff;
  }
  .neomofisme-shadow-dark {
    box-shadow: 0px 0px 2px #8351a8, 0px 0px 0px 5px #442342,
      8px 8px 15px #61447e, -8px -8px 15px #442342;
  }
}


